 <div>
                  <h4 class="text-lg font-bold text-center mb-[15px] md:mb-[35px] uppercase text-primary-deepblue lg:text-primary-black">Follow</h4>
                  <ul class="flex flex-col items-center space-y-2 md:space-y-4">  
                    {% if settings.instagram_url %}
                      <li class="hover:scale-105 transform transition duration-200">
                        <a href="{{ settings.instagram_url }}" target="_blank" rel="noreferrer" class="text-[25px] md:text-[30px] leading-[100%] uppercase font-extrabold text-secondary-navy md:text-primary-black hover:text-primary-deepblue  transition duration-200 text-center">
                          Instagram
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.tiktok_url %}
                      <li class="hover:scale-105 transform transition duration-200">
                        <a href="{{ settings.tiktok_url }}" target="_blank" rel="noreferrer" class="text-[25px] md:text-[30px] leading-[100%] uppercase font-extrabold text-secondary-navy md:text-primary-black hover:text-primary-deepblue  transition duration-200 text-center">
                          Tiktok
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.facebook_url %}
                      <li class="hover:scale-105 transform transition duration-200">
                        <a href="{{ settings.facebook_url }}" target="_blank" rel="noreferrer" class="text-[25px] md:text-[30px] leading-[100%] uppercase font-extrabold text-secondary-navy md:text-primary-black hover:text-primary-deepblue  transition duration-200 text-center">
                          Facebook
                        </a>
                      </li>
                    {% endif %}
                     {% if settings.twitter_url %}
                      <li class="hover:scale-105 transform transition duration-200">
                        <a href="{{ settings.twitter_url }}" target="_blank" rel="noreferrer" class="text-[25px] md:text-[30px] leading-[100%] uppercase font-extrabold text-secondary-navy md:text-primary-black hover:text-primary-deepblue  transition duration-200 text-center">
                          X
                        </a>
                      </li>
                    {% endif %}

                  </ul>
              </div>