{%- assign layout = section.settings.desktop_layout | default: 'horizontal' -%}
  
  <header
  x-data="{ 
    mobileMenuOpen: false, 
    scrolled: false,
    init() {
      window.addEventListener('scroll', () => {
        this.scrolled = window.scrollY > 50;
      });
    }
  }"
  :class="scrolled ? 'fixed' : ''"
  class="w-full z-20 transition-all duration-300 text-secondary-navy bg-bg-color"
  role="banner">
  <div class="container py-4 border-b border-secondary-navy">
       <nav class="relative flex items-center gap-4
        {% if layout == 'horizontal' %}
          justify-between
        {% else %}
          flex-wrap lg:flex-col lg:items-center
        {% endif %}" aria-label="Main navigation">

      {%- comment -%} Logo {%- endcomment -%}
      <div class="flex flex-1 justify-center lg:justify-start">
        {% render 'header-logo'
          , logo_image: settings.dark_logo %}
          <span class="hidden items-center font-bold h-auto border-l text-sm md:text-lg uppercase  border-inherit whitespace-nowrap pl-4.5 ml-4.5 lg:hidden ">
              June 5 & 6, 2026 
          </span>
      </div>

      {%- comment -%} Desktop navigation {%- endcomment -%}
       <div class="flex-1 flex justify-center">
         {% render 'header-nav-desktop'
           , menu: settings.header_menu
           , layout: layout %}
       </div>

      {%- comment -%} Header actions (search, account, cart) {%- endcomment -%}
       <div class="flex-1 justify-end  flex">
         {% render 'header-actions',
          section:section
           , layout: layout %}
       </div>

      {%- comment -%} Mobile menu trigger {%- endcomment -%}
      <div class="flex lg:hidden ml-4">
        <button
          type="button"
          @click="mobileMenuOpen = true"
          class=" inline-flex items-center justify-center focus:outline-none focus-visible:ring-2 focus-visible:ring-[var(--interactive-focus)]">
          <span class="sr-only">Open main menu</span>
          {% render 'icon-menu' %}
        </button>
      </div>
    </nav>
</div>

  {%- comment -%} Mobile drawer, controlled via Alpine state {%- endcomment -%}
  {% render 'mobile-menu'
    , menu: settings.header_menu
    , mobile_menu_state: 'mobileMenuOpen'
  %}
</header>

{% schema %}
  {
    "name": "t:general.header",
    "settings": [
      {
        "type": "header",
        "content": "Desktop Layout"
      },
      {
        "type": "select",
        "id": "desktop_layout",
        "label": "Desktop navigation style",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          }, {
            "value": "vertical",
            "label": "Vertical"
          }
        ],
        "default": "horizontal"
      }
    ]
  }
{% endschema %}